<!DOCTYPE html>
<html id="ng-app" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>電話卡系統</title>

    <script src="../backend/js/jquery-1.11.1.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="js/linq.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
    <script src="js/xlsx.full.min.js"></script>
    <script src="js/angular-xlsx.min.js"></script>
    <script src="controller.js"></script>

    <script>
//        $(document).ready(function(){
//            /*$.get("http://125.227.84.249:3000/get_xls",{
//                file_name:"123.xls"
//            },function(data){
//                console.log(data);
//            })*/
//
//        })
    </script>
    <style>
        .pager li{
            cursor:pointer;
        }
    </style>
</head>
<body ng-controller="AppController as ctrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

<div class="container">

    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" >電話卡系統</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ng-init="show_upload=false" ng-click="show_upload=!show_upload" style="cursor: pointer">上傳檔案</a></li>
                <li><a ng-click="isDelete = !isDelete" style="cursor: pointer">刪電話</a></li>
                <li><a ng-click="test()" style="cursor: pointer">test</a></li>
            </ul>
        </div>
    </div>

    <div class="row" ng-show="show_upload">

        <div class="col-md-3">

            <h3>Excel上傳</h3>

            <input type="file" nv-file-select="" uploader="uploader" multiple/>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px" ng-show="uploader.queue.length"><!--uploader.queue.length-->

            <h3>上傳進度</h3>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>

    </div>

    <div class="row" ng-if="isDelete">
        <div class="form-group form-inline col-md-4">
            <label for="start" class="radio-inline">開頭符合</label>
            <input type="radio" value="start" id="start" name="delType" ng-model="ctrl.delType">
            <label for="end" class="radio-inline">結尾符合</label>
            <input type="radio" value="end" id="end" name="delType" ng-model="ctrl.delType">
            <label for="match" class="radio-inline">完全符合</label>
            <input type="radio" value="match" id="match" name="delType" ng-model="ctrl.delType">
        </div>
        <div class="col-md-2">
            <input my-enter="ctrl.sendDelete()" type="text" class="form-control" ng-model="ctrl.delPhone" placeholder="刪除號碼" />
        </div>
        <div class="col-md-1">
            <input type="button" ng-click="ctrl.sendDelete()" class="btn btn-primary form-control" value="刪除"/>
        </div>
    </div>

    <div class="row" ng-show="total_page>1">
        <ul class="pager responsive">
            <li ng-click="setPage(0)" ng-show="page>0"><a href="#">第一頁</a></li>
            <li ng-click="setPage(page,-1)"  ng-show="page>0"><a href="#">上一頁</a></li>
            <li ng-click="setPage(page,1)"  ng-show="page<(total_page-1)"><a href="#">下一頁</a></li>
            <li ng-click="setPage(total_page-1)" ng-show="page<(total_page-1)"><a href="#">最後一頁</a></li>
            <li><a href="#">第<select ng-model="page" ng-options="key as value for (key,value) in pages" ng-change="setPage(page)"></select>頁</a></li>
            <li><a href="#">(共{{total_page}}頁，{{total_data}}筆資料)</a></li>
        </ul>
    </div>

    <br>
    <div class="row">
        <div class="col-md-2">
            <select class="form-control" ng-init="fi_type='0'" ng-model="fi_type" >
                <option value="0">啟用</option>
                <option value="1">到期</option>
                <option value="2">停用</option>
                <option value="3">全部</option>
            </select>
        </div>
        <div class="col-md-1">
            <input type="button" ng-click="get_data(fi_type)" class="btn btn-primary" id="get_data" value="查詢"/>
        </div>
    </div>

    <br>

    <div class="row" ng-if="ctrl.page_card_detail.length">
        <div class="col-md-2">
            <input class="form-control" my-enter="get_filter()" ng-model="fd_sell" placeholder="出貨日">
        </div>
        <div class="col-md-2">
            <input class="form-control" my-enter="get_filter()" ng-model="fv_key_phone" placeholder="關鍵號">
        </div>
        <div class="col-md-1">
            <input type="button" ng-click="get_filter()" class="btn btn-primary form-control" id="filter_btn" value="過濾"/>
        </div>
        <div class="col-md-2">
            <input type="button" ng-click="exportXlsx()" class="btn btn-primary form-control" value="匯出xlsx"/>
        </div>

            <!--<input my-enter="get_filter()" ng-model="fv_start_phone" placeholder="起始號">-->
            <!--<input my-enter="get_filter()" ng-model="fv_end_phone" placeholder="結束號">-->

        <div class="col-md-offset-4 col-md-1" ng-if="change.length">
            <input type="button" class="btn btn-primary form-control" value="修改" ng-click="send_chg_status()"/>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>編號</td>
                    <td>出貨日</td>
                    <td>門號</td>
                    <td>Subscr_Id</td>
                    <td>啟用日期</td>
                    <td>可用天數</td>
                    <td>到期日期</td>
                    <td>已用流量</td>
                    <td>服務狀態</td>
                </tr>
                <tr ng-repeat="(key,item) in ctrl.page_card_detail" ng-class="{1: '', 0: 'bg-danger'}[item.fi_over]">
                    <td>{{per_page*page+$index+1}}</td>
                    <td>{{item.fd_sell | date:'yyyy-MM-dd':'+08'}}</td>
                    <td>{{item.fv_phone}}</td>
                    <td>{{item.fv_subscr_id}}</td>
                    <td>{{item.fd_start | date:'yyyy-MM-dd':'+08'}}</td>
                    <td>{{item.fi_can_use}}</td>
                    <td>{{item.fd_end | date:'yyyy-MM-dd':'+08'}}</td>
                    <td>{{item.ff_total_flow}}</td>
                    <td>
                        <select ng-if="item.fi_delete"
                                ng-model="item.fi_delete" ng-options="s.value as s.text for s in status"
                                ng-change="chg_status(per_page*page+key,item.fi_delete)">
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>